@using BenHinkleRecipes.Models.ViewModels
@model List<GroceryListVM>

@{
    ViewData["Title"] = "Grocery List";
}

<br />
<h1>Grocery List</h1>
<br />


@if (ViewBag.ItemAlreadyInGroceryList == true)
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Error! Item Already in Grocery List</strong>  You can only add this recipe to your grocery list one time
    </div>
}


<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Meat
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" >
            <div class="accordion-body">
                @foreach (var element in Model)
                {
                    @if (element.Category == "Meat")
                    {
                        <div>
                            @Html.DisplayFor(m => element.Name)
                            @Html.DisplayFor(m => element.Quantity)
                            @Html.DisplayFor(m => element.Unit)
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Produce
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" >
            <div class="accordion-body">
                @foreach (var element in Model)
                {
                    @if (element.Category == "Produce")
                    {
                        <div>
                            @Html.DisplayFor(m => element.Name)
                            @Html.DisplayFor(m => element.Quantity)
                            @Html.DisplayFor(m => element.Unit)
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Dairy
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" >
            <div class="accordion-body">
                @foreach (var element in Model)
                {
                    @if (element.Category == "Dairy")
                    {
                        <div>
                            @Html.DisplayFor(m => element.Name)
                            @Html.DisplayFor(m => element.Quantity)
                            @Html.DisplayFor(m => element.Unit)
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Herbs
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour" >
            <div class="accordion-body">
                @foreach (var element in Model)
                {
                    @if (element.Category == "Herbs")
                    {
                        <div>
                            @Html.DisplayFor(m => element.Name)
                            @Html.DisplayFor(m => element.Quantity)
                            @Html.DisplayFor(m => element.Unit)
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Spices
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingFive" >
            <div class="accordion-body">
                @foreach (var element in Model)
                {
                    @if (element.Category == "Spices")
                    {
                        <div>
                            @Html.DisplayFor(m => element.Name)
                            @Html.DisplayFor(m => element.Quantity)
                            @Html.DisplayFor(m => element.Unit)
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Other
            </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse show" aria-labelledby="headingSix">
            <div class="accordion-body">
                @foreach (var element in Model)
                {
                    @if (element.Category == "Other")
                    {
                        <div>
                            @Html.DisplayFor(m => element.Name)
                            @Html.DisplayFor(m => element.Quantity)
                            @Html.DisplayFor(m => element.Unit)
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

<br />
@Html.ActionLink("Clear Grocery List","ClearGroceryList", "GroceryList")