@using BenHinkleRecipes.Models.ViewModels
@model List<GroceryListVM>

@{
    ViewData["Title"] = "Grocery List";
}

<br />
<h1>Grocery List</h1>
<br />


@if (ViewBag.ItemAlreadyInGroceryList == true)
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Error! Item Already in Grocery List</strong>  You can only add this recipe to your grocery list one time
    </div>
}
@foreach (var element in Model)
{
    <div>

        @if (element.Category == "Meat")
        {
            <div>
                @Html.DisplayFor(m => element.Name)
                @Html.DisplayFor(m => element.Quantity)
                @Html.DisplayFor(m => element.Unit)
            </div>
        }
    </div>
    <div>
        @if (element.Category == "Produce")
        {
            <div>
                @Html.DisplayFor(m => element.Name)
                @Html.DisplayFor(m => element.Quantity)
                @Html.DisplayFor(m => element.Unit)
            </div>
        }
    </div>
    <div>
        @if (element.Category == "Dairy")
        {
            <div>
                @Html.DisplayFor(m => element.Name)
                @Html.DisplayFor(m => element.Quantity)
                @Html.DisplayFor(m => element.Unit)
            </div>
        }
    </div>
    <div>
        @if (element.Category == "Herbs")
        {
            <div>
                @Html.DisplayFor(m => element.Name)
                @Html.DisplayFor(m => element.Quantity)
                @Html.DisplayFor(m => element.Unit)
            </div>
        }
    </div>
    <div>
        @if (element.Category == "Spices")
        {
            <div>
                @Html.DisplayFor(m => element.Name)
                @Html.DisplayFor(m => element.Quantity)
                @Html.DisplayFor(m => element.Unit)
            </div>
        }
    </div>
    <div>
        @if (element.Category == "Other")
        {
            <div>
                @Html.DisplayFor(m => element.Name)
                @Html.DisplayFor(m => element.Quantity)
                @Html.DisplayFor(m => element.Unit)
            </div>
        }
    </div>

}

<br />
@Html.ActionLink("Clear Grocery List","ClearGroceryList", "GroceryList")