@using BenHinkleRecipes.Models.ViewModels
@model UserRecipeVM

@{
    ViewData["Title"] = "User Recipe Details";
}

<br />
<form asp-action="DeleteUserRecipe" asp-controller="UserRecipe" asp-route-id="@Model.UserRecipe_ID" method="post">
    <div data-role="recipe" class="card mb-3" style="display: inline-block">
        <img class="card-img-top" src="@Model.RecipeBackDisplay" asp-append-version="true">
        <div id="recipeCardsBody" class="card-body text-primary">
            <h5 id="recipeCardsTitle" class="card-title">@Model.RecipeName</h5>
            <p id="recipeCardsDescription" class="card-text">@Model.Description</p>
            <br />
            @if (ViewContext.HttpContext.User.Identity.Name != null)
            {
                <input asp-for="@Model.IsFavorite" type="checkbox" class=star onclick="UpdateRecipe(this)" data-recipeid="@Model.RecipeId">
                <br />
                <br />
            }
            <div class="btn-group" role="group" aria-label="Basic example">
                @Html.ActionLink("Add to Grocery List","UserAddToGroceryList", "GroceryList", new { id = @Model.UserRecipe_ID }, new { @class="btn btn-primary"})
                @Html.ActionLink("Edit", "UpdateUserRecipe", "UserRecipe", new { id = @Model.UserRecipe_ID }, new { @class="btn btn-light"})
                <span id="deleteSpan_@Model.RecipeId" class="btn btn-danger">
                    <a href="#deleteSpan_@Model.RecipeId" onclick="confirmDelete('@Model.RecipeId', true)" class="btn btn-danger">Delete</a>
                </span>
            </div>
        </div>
        <div id="confirmDeleteSpan_@Model.RecipeId" style="display:none" class="alert alert-dismissible alert-warning">
            <span>Are you sure you want to delete the recipe from your recipe book?</span>
            <button type="submit" class="btn btn-danger">Yes</button>
            <button href="#" type="reset" onclick="confirmDelete('@Model.RecipeId', false)" class="btn btn-primary">No</button>
        </div>
    </div>
    </div>
</form>

<script>
        function UpdateRecipe(elem) {
        var isDone = $(elem).is(':checked');
        var rid = $(elem).data('recipeid');
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SetFavorite", "Home")',
            data: { check: isDone,recipeid:rid }
        });
    }
</script>