@using BenHinkleRecipes.Models.ViewModels
@model UserRecipeVM

@{
    ViewData["Title"] = "User Recipe Details";
}

<br />
<form asp-action="DeleteUserRecipe" asp-controller="UserRecipe" asp-route-id="@Model.UserRecipe_ID" method="post">
    <div data-role="recipe" class="card mb-3" style="display: inline-block">
        <img class="card-img-top" src="@Model.RecipeFrontDisplay" asp-append-version="true">
        <div id="" class="card-body text-primary">
            <h5 id="recipeCardsTitle" class="card-title">@Model.RecipeName</h5>
            <p id="recipeCardsDescription" class="card-text">@Model.Description</p>
            <br />
               <br />
            <h5 id ="accordionTitle">Ingredients</h5>
             <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Meat
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne">
                        <div class="accordion-body">
                        @for(var i=0; i< Model.Ingredients.Count; i++)
                            {
                                @if(Model.Ingredients[i].Category == "Meat")
                                {
                                     <div>
                                        @Html.DisplayFor(m => Model.Ingredients[i].Name)
                                        @Html.DisplayFor(m => Model.Ingredients[i].Quantity)
                                        @Html.DisplayFor(m => Model.Ingredients[i].Unit)
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Produce
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse " aria-labelledby="headingTwo">
                        <div class="accordion-body">
                         @for(var i=0; i< Model.Ingredients.Count; i++)
                            {
                                @if(Model.Ingredients[i].Category == "Produce")
                                {
                                     <div>
                                        @Html.DisplayFor(m => Model.Ingredients[i].Name)
                                        @Html.DisplayFor(m => Model.Ingredients[i].Quantity)
                                        @Html.DisplayFor(m => Model.Ingredients[i].Unit)
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Dairy
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse " aria-labelledby="headingThree">
                        <div class="accordion-body">
                        @for(var i=0; i< Model.Ingredients.Count; i++)
                            {
                                @if(Model.Ingredients[i].Category == "Dairy")
                                {
                                     <div>
                                        @Html.DisplayFor(m => Model.Ingredients[i].Name)
                                        @Html.DisplayFor(m => Model.Ingredients[i].Quantity)
                                        @Html.DisplayFor(m => Model.Ingredients[i].Unit)
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Herbs
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse " aria-labelledby="headingFour">
                        <div class="accordion-body">
                          @for(var i=0; i< Model.Ingredients.Count; i++)
                            {
                                @if(Model.Ingredients[i].Category == "Herbs")
                                {
                                     <div>
                                        @Html.DisplayFor(m => Model.Ingredients[i].Name)
                                        @Html.DisplayFor(m => Model.Ingredients[i].Quantity)
                                        @Html.DisplayFor(m => Model.Ingredients[i].Unit)
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Spices
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse " aria-labelledby="headingFive">
                        <div class="accordion-body">
                            @for(var i=0; i< Model.Ingredients.Count; i++)
                            {
                                @if(Model.Ingredients[i].Category == "Spices")
                                {
                                     <div>
                                        @Html.DisplayFor(m => Model.Ingredients[i].Name)
                                        @Html.DisplayFor(m => Model.Ingredients[i].Quantity)
                                        @Html.DisplayFor(m => Model.Ingredients[i].Unit)
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Other
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse " aria-labelledby="headingSix">
                        <div class="accordion-body">
                            @for(var i=0; i< Model.Ingredients.Count; i++)
                            {
                                @if(Model.Ingredients[i].Category == "Other")
                                {
                                     <div>
                                        @Html.DisplayFor(m => Model.Ingredients[i].Name)
                                        @Html.DisplayFor(m => Model.Ingredients[i].Quantity)
                                        @Html.DisplayFor(m => Model.Ingredients[i].Unit)
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            @if (ViewContext.HttpContext.User.Identity.Name != null)
            {
                    <input asp-for="@Model.IsFavorite" type="checkbox" class=star onclick="UpdateRecipe(this)" data-recipeid="@Model.RecipeId">
                    <br />
                    <br />
            }
            <div class="btn-group" role="group" aria-label="Basic example">
                @Html.ActionLink("Add to Grocery List","AddToGroceryList", "GroceryList", new { id = @Model.RecipeId }, new { @class="btn btn-primary"})
                @Html.ActionLink("View Back of Recipe Card","GetUserRecipeById", "UserRecipe", new { id = @Model.UserRecipe_ID }, new { @class="btn btn-info"})
                @Html.ActionLink("Edit My Recipe", "UpdateUserRecipe", "UserRecipe", new { id = @Model.UserRecipe_ID }, new { @class="btn btn-light"})
                <span id="deleteSpan_@Model.RecipeId" class="btn btn-danger">
                    <a href="#deleteSpan_@Model.RecipeId" onclick="confirmDelete('@Model.RecipeId', true)" class="btn btn-danger">Delete from Recipe Book</a>
                </span>
            </div>
        </div>
        <div id="confirmDeleteSpan_@Model.RecipeId" style="display:none" class="alert alert-dismissible alert-warning">
            <span>Are you sure you want to delete the recipe from your recipe book?</span>
            <button type="submit" class="btn btn-danger">Yes</button>
            <button href="#" type="reset" onclick="confirmDelete('@Model.RecipeId', false)" class="btn btn-primary">No</button>
        </div>
    </div>
    </div>
</form>

<script>
        function UpdateRecipe(elem) {
        var isDone = $(elem).is(':checked');
        var rid = $(elem).data('recipeid');
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SetFavorite", "Home")',
            data: { check: isDone,recipeid:rid }
        });
    }
</script>