@using BenHinkleRecipes.Models.ViewModels
@model List<RecipeVM>

@{
    ViewData["Title"] = "Recipes";
}



<br />
<div>@Html.ActionLink("Create New Recipe", "CreateRecipe", "Home","",new { @class="btn btn-success"})</div>
<br />

<div class="card-columns">
    @foreach (var element in Model)

    {
        <form asp-action="DeleteRecipe" asp-controller="Home" asp-route-id="@element.RecipeId" method="post">
            <div data-role="recipe" class="card border-primary mb-3" style="display: inline-block">
                <img class="card-img-top" src="@element.RecipeFrontDisplay" asp-append-version="true">
                <div id="recipeCardsBody" class="card-body text-primary">
                    <h5 id="recipeCardsTitle" class="card-title">@Html.DisplayFor(m => element.RecipeName)</h5>
                    <p id="recipeCardsDescription" class="card-text">@Html.DisplayFor(m => element.Description)</p>
                    <input asp-for="@element.IsFavorite" type="checkbox" class=star onclick="UpdateRecipe(this)" data-recipeid = "@element.RecipeId">
                    <br />
                    <br />
                    @Html.ActionLink("Details","GetRecipeById", "Home", new { id = element.RecipeId }, new { @class="btn btn-info"})
                    @Html.ActionLink("Edit", "UpdateRecipe", "Home",new { id = element.RecipeId }, new { @class="btn btn-primary"})
                    <span id="deleteSpan_@element.RecipeId">
                        <a href="#deleteSpan_@element.RecipeId" onclick="confirmDelete('@element.RecipeId', true)" class="btn btn-danger">Delete</a>
                    </span>
                    <span id="confirmDeleteSpan_@element.RecipeId" style="display:none">
                        <button type="submit" class="btn btn-danger" )">Yes</button>
                        <a href="#" onclick="confirmDelete('@element.RecipeId', false)" class="btn btn-primary">No</a>
                        <br />
                        <span>Are you sure you want to delete?</span>
                    </span>

                </div>
            </div>
        </form>
    }
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js"></script>


<script>
        function UpdateRecipe(elem) {
        var isDone = $(elem).is(':checked');
        var rid = $(elem).data('recipeid');
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SetFavorite", "Home")',
            data: { check: isDone,recipeid:rid }
        });
    }
</script>