@using BenHinkleRecipes.Models.ViewModels
@model List<RecipeVM>

@{
    ViewData["Title"] = "Recipes";
}


@if (ViewContext.HttpContext.User.Identity.Name == "bjhinkle22@gmail.com")
{
    <br />
    <div>@Html.ActionLink("Create New Recipe", "CreateRecipe", "Home","",new { @class="btn btn-success"})</div>
    <br />
}
<br />

<div class="card-group">
    @foreach (var element in Model)
    {
        <div class="col-lg-4 mb-3 d-flex align-items-stretch">
            <div data-role="recipe" class="card border-primary" style="display: inline-block; ">
                <form asp-action="DeleteRecipe" asp-controller="Home" asp-route-id="@element.RecipeId" method="post">
                    <img class="card-img-top" src="@element.RecipeFrontDisplay" asp-append-version="true">
                    <div id="recipeCardsBody" class="card-body text-primary">
                        <h5 id="recipeCardsTitle" class="card-title">@Html.DisplayFor(m => element.RecipeName)</h5>
                        <p id="recipeCardsDescription" class="card-text">@Html.DisplayFor(m => element.Description)</p>
                    </div>
                    @if (ViewContext.HttpContext.User.Identity.Name != null)
                    {
                        <input asp-for="@element.IsFavorite" type="checkbox" class=star onclick="UpdateRecipe(this)" data-recipeid="@element.RecipeId">
                        <br />
                        <br />
                    }
                    @Html.ActionLink("Details","GetRecipeById", "Home", new { id = element.RecipeId }, new { @class="btn btn-info", @style="margin:0 0 1rem 1rem;"})
                    @if (ViewContext.HttpContext.User.Identity.Name == "bjhinkle22@gmail.com")
                    {
                        @Html.ActionLink("Edit", "UpdateRecipe", "Home",new { id = element.RecipeId }, new { @class="btn btn-primary", @style="margin:0 0 1rem 0;"})
                        <span id="deleteSpan_@element.RecipeId">
                            <a href="#deleteSpan_@element.RecipeId" onclick="confirmDelete('@element.RecipeId', true)" class="btn btn-danger" style="margin:0 0 1rem 0;">Delete</a>
                        </span>
                        <span id="confirmDeleteSpan_@element.RecipeId" style="display:none">
                            <button type="submit" class="btn btn-danger" )">Yes</button>
                            <a href="#" onclick="confirmDelete('@element.RecipeId', false)" class="btn btn-primary">No</a>
                            <br />
                            <span>Are you sure you want to delete?</span>
                        </span>
                    }
                </form>
            </div>
        </div>
    }
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js"></script>


<script>
        function UpdateRecipe(elem) {
        var isDone = $(elem).is(':checked');
        var rid = $(elem).data('recipeid');
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SetFavorite", "Home")',
            data: { check: isDone,recipeid:rid }
        });
    }
</script>